body {
    background-color: black;
}

h1 {
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 40px;
    padding: 10px;
}

ul {
    background-color: aqua;
}

li {
    padding: 10px;
}

a {
    color: blueviolet;
    font-size: 25px;
}